.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}



.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}
#btn{
    padding: 0 40px;
    margin: auto 1% auto 15%;
}
header.masthead {
    position: relative;
    margin-bottom: 3rem;
    padding-top: calc(8rem + 57px);
    padding-bottom: 8rem;
    background: no-repeat center center;
        background-color: rgba(0, 0, 0, 0);
        background-attachment: scroll;
        background-image: none;
        background-size: auto;
    background-color: #6c757d;
    background-size: cover;
    background-attachment: scroll;}

.subheading, h1{
    color: #f9f3f3e3;
    margin-left: 15%;
    padding-bottom: 8%;
}
.subheading{
    font-size: 20px;
    margin-bottom: 20%;
}
nav ul a{
    color: black;
    font-size: 1.2rem;
}
nav .brand-logo {
    position: absolute;
    color: #1a1919;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
}
nav a {
    color: #131212;
}
nav{
    background-color: white;
}

#form{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding-top: 15%;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}


.col-md-4 img{
    width: 100%;
    border-radius: 16px;
    padding: 8px;
}
.col-md-5 img{
    width: 100%;
    border-radius: 16px;
    padding: 8px;
}
.flex-container{
    align-items: center;
    justify-content: space-between;
}

.view-button{
    float: right;
    text-decoration: none;
    text-align: center;
    width: 120px;
    padding: 10px 0;
    background-color: #404041;
    color: whitesmoke;
    font-size: 1rem;
    margin-top: 10px;
    align-self: flex-start;
    border-radius: 6px;
}
.item-data{
    display: block;
    margin-top: 10px;
    font-size: 1.2rem;
    letter-spacing: .05rem;
    line-height: 2rem;
}
.foot-menu {
    text-align: center;
}

.foot-menu ul{
    display: inline-flex;
    list-style: none;
    color: black;
}
.foot-menu ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}


/*Modal content for delete confirmation*/
.modal .modal-content {
    padding: 24px;
    padding: 20px;
    margin: 6% 20%;
    color: #131212;
    text-shadow: none;
    font-size: larger;
    }
/*The font awesome icon footer*/
.fa-lg {
    font-size: 1.666em;
}
a{
    color: #232627;
}

legend{
    border: 20px;
}

@media only screen and (max-width: 980px) /* For ipads/tablets: */ {

    #btn {
        padding: 0 30px;
        margin: auto 8% 1%;
    }
    


}

@media only screen and (max-width: 780px) /* For ipads/tablets: */ {

    #btn{
       padding: 0 40px;
       margin: auto 7% 2%;
   }


}
    

@media only screen and (max-width: 499px) /* For smaller gadgets/phones: */ {

    #btn {
        padding: 0 30px;
        margin: auto 1% 2%;
    }

    /*Modal content for delete confirmation*/
    .modal .modal-content {
        padding: 24px;
        padding: 20px;
        margin: 6% 20%;
        color: #131212;
        text-shadow: none;
        font-size: medium;
    }

    .foot-menu ul li {
        width: 120px;
        padding: 15px;
        margin-right: 7%;
        margin-left: 0;
    }

/*Buttons for editing and canceling the cusines/recipes*/
    .btn-large {
        height: 54px;
        line-height: 54px;
        font-size: 15px;
        padding: 0 28px;
        margin-bottom: 9px;
    }
}

@media only screen and (max-width: 370px) /* For smaller gadgets/phones: */ {

    #btn {
        padding: 0 20px;
        margin: 1% 2%;
    }


    .foot-menu ul li {
        width: 120px;
        padding: 15px;
        margin-right: 7%;
        margin-left: 0;
    }

/*Buttons for editing and canceling the cusines/recipes*/
    .btn-large {
        height: 54px;
        line-height: 54px;
        font-size: 15px;
        padding: 0 28px;
        margin-bottom: 9px;
    }


}
