.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}


.btn-small {
    margin: 1px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}
#btn{
    padding: 0 40px;
    margin: auto 1% auto 16%;
}
header.masthead {
    position: relative;
    margin-bottom: 3rem;
    padding-top: calc(8rem + 57px);
    padding-bottom: 8rem;
    background: no-repeat center center;
        background-color: rgba(0, 0, 0, 0);
        background-attachment: scroll;
        background-image: none;
        background-size: auto;
    background-color: #6c757d;
    background-size: cover;
    background-attachment: scroll;}

.subheading, h1{
    color: white;
    margin-left: 15%;

}
.subheading{
    font-size: 20px;
    margin-bottom: 20%;
}
nav ul a{
    color: black;
    font-size: 1.2rem;
}
nav .brand-logo {
    position: absolute;
    color: #1a1919;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
}
nav a {
    color: #131212;
}
nav{
    background-color: white;
}

#form{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding-top: 15%;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}


.col-md-4 img{
    width: 100%;
    border-radius: 16px;
    padding: 8px;
}
.col-md-5 img{
    width: 100%;
    border-radius: 16px;
    padding: 8px;
}
.flex-container{
    align-items: center;
    justify-content: space-between;
}

.view-button{
    float: right;
    text-decoration: none;
    text-align: center;
    width: 120px;
    padding: 10px 0;
    background-color: #404041;
    color: whitesmoke;
    font-size: 1rem;
    margin-top: 10px;
    align-self: flex-start;
    border-radius: 6px;
}
.item-data{
    display: block;
    margin-top: 10px;
    font-size: 1.2rem;
    letter-spacing: .05rem;
    line-height: 2rem;
}
.foot-menu {
    text-align: center;
}
.foot-menu ul{
    display: inline-block;
    list-style: none;
    color: black;
}
.foot-menu ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.foot-menu {
    text-align: center;
}
.foot-menu ul{
    display: inline-flex;
    list-style: none;
    color: black;
}
.foot-menu ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}
legend{
    border: 20px;
}


@media only screen and (max-width: 499px) /* For mobile phones: */{

    #btn{
        padding: 0 40px;
        margin: 1% 2% 1%;
    }




}