{% extends "base.html" %}
{% block content %}
    

    <h2>About</h2>
    <p>
        We are more than delighted to launch our new recipe web app that is going to act like a recipe bank for our users.
        feel free to register and have your own profile which is going to enable you to create,update and delete your recipes
        whenever you want.
        The recipe/cusines you will add will be visible to you and your fellow user's profile highlighted by your login name as a creator of the
        cusine the un registered users can't view your created recipes.
        The cusines below are created by our admin, feel free to navigate through them.
        So sign up to register and let's
        see what your cusine look like.
    </p>

    <div class="divider"></div>

    {% for item in cusine %}

    <div class="row featurette">
        <div class="col-md-7">
            <h3>{{ item.name }}</h3>
            <p>
                {{ item.description }}
            </p>
        </div>
        <div class="col-md-5">
            <img src="{{item.image_source}}" alt="" class="featurette-image image-responsive">
            <div class="flex-container">
                <a class="view-button" href="#">By Admin</a>
            </div>
            <p class="item-data">
              Calories:  {{ item.calories }}
            </p>
        </div>
    </div>   
    {% endfor %}

{% endblock %}