{% extends "base.html" %}
{% block content %}
<!--these are buttons that load the linked files when the user clicks-->
<a onclick="openBtn()" href="{{ url_for('dessert') }}"
class="waves-effect waves-light btn-small"
id="btn">Dessert
</a>
<a onclick="openBtn()" href="{{ url_for('beef') }}"
class="waves-effect waves-light btn-small"
id="btn" onclick="openBtn()">Beef
</a>
<a onclick="openBtn()" href="{{ url_for('pasta') }}"
class="waves-effect waves-light btn-small"
id="btn">Pasta</a>
<br>

<h2>About</h2>
<p>
    We are more than delighted to launch our new recipe web app that is going to act like a recipe bank for our users.
    feel free to register and have your own profile which is going to enable you to create,update and delete your recipes
    whenever you want.
    The recipe/cusines you will add will be visible to your fellow users highlighted by your login name as a creator of the
    cusine.
    The cusines visible on the homepage will be viewed by anyone who visits the app.
    The buttons displayed above redirects you to the sample of the cusines created by our admin, feel free to navigate through them as well.
    So sign in to register and let's
    see what your cusine look like.
</p>


<h3 class="light-blue-text text-darken-4 center-align">Cusines</h3>

<ul class="collapsible">
    {% for cusine in cusines %}
    <li>
        <div class="collapsible-header white-text light-blue darken-4 text-shadow">
            <div class="col s3">
                <i class="fas fa-caret-down"></i>
                {% if session.user|lower == cusine.created_by|lower %}
                <a href="{{ url_for('delete_cusine', cusine_id=cusine._id) }}" class="btn-small green accent-4">Delete</a>
                <a href="{{ url_for('edit_cusine', cusine_id=cusine._id) }}" class="btn-small light-blue lighten-1">Edit</a>
                {% endif %}
            </div>
            <div class="col s9">
                <strong>{{ cusine.task_name }}</strong> 
            </div>
        </div>
        <div class="collapsible-body">
            <strong>{{ cusine.category_name }}</strong>
            <p>{{ cusine.task_description }}</p>
            <p>{{ cusine.task_ingredients }}</p>
            <p><em>by: {{ cusine.created_by }}</em></p>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}