{% extends "base.html" %}
{% block content %}
<h1>{{ page_title }}</h1>

{% for item in cusine['dessert'] %}
    <div id="pasta">
        <div class="row featurette">
            <div class="col-md-7">
                <h3>{{ item.name }}</h3>
                <p>
                    {{ item.description }}
                </p>
            </div>
            <div class="col-md-5">
                <img src="{{item.image_source}}" alt="" class="featurette-image image-responsive">
                <div class="flex-container">
                    <a class="view-button" href="#">View Recipe</a>
                </div>
                <p class="item-data">Calories: 140</p>
            </div>
        </div>
    </div>    
{% endfor %}

{% endblock %}